<%= render 'layouts/navbar' %>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to  'Journals' , journals_path %></li>
    <li><%= link_to  'Years' , journal_years_path %></li>
    <li class="active">Issues</li>
  </ol>
  <div class="row">
    <%= link_to '+ Add Issue' , new_journal_year_issue_path , class: 'btn btn-primary pull-right' %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>No</th>
        <th>ปีที่-ฉบับที่</th>
        <th>Tools</th>
      </thead>
      <tbody>
        <% @issues.each_with_index do |issue,index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to "#{issue.volume} - #{issue.number}" , journal_year_issue_articles_path(@journal,@year.id,issue.id) %></td>
          <td>
            <%= link_to 'Edit' ,edit_journal_year_issue_path(@journal,@year.id,issue.id), class: "btn btn-warning" %>
            <%= link_to 'Delete', journal_year_issue_path(@journal,@year.id,issue.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>