<%= render 'layouts/navbar' %>
<%= stylesheet_link_tag 'articles', media: 'all', 'data-turbolinks-track' => true %>


<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to  'Journals' , journals_path %></li>
    <li><%= link_to  'Years' , journal_years_path %></li>
    <li><%= link_to  'Issues' , journal_year_issues_path %></li>
    <li><%= link_to  'Articles' , journal_year_issue_articles_path %></li>
    <li class="active">Save Article</li>
  </ol>

  <% if @article.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>           
    </div>  
  <% end %>


  <div class="row">
    <%= nested_form_for [@journal,@year,@issue ,@article] do |f| %>

    <div class="form-group">
      <label>Article Name</label>
      <%= f.text_field :article_name ,class: "form-control" %>
    </div>

    <div class="form-group">
      <label>PDF_Path</label>
      <%= f.text_field :pdf_path ,class: "form-control" %>
    </div>

    <!-- ///////////////////////// keywords //////////////////////// -->
    <% @count_keyword = 0 %>
    <% if @article.persisted? %>
      <div class="form-group">
        <div class="field_keyword">
          <label for="words">Keyword :</label>
          <a href="#" class="add_field_keyword">Add More Fields</a>
          <% @article.keywords.each_with_index do |keyword,index| %>
            <div>
              <input type="text" name="article[keywords][]" id="doc_words_" 
              value="<%= keyword %>" class="form-word" />

              <label>Role :</label>
                <%= radio_button_tag 'keywords_role['"#{index}"']' , '650', 
                @article.keywords_role[index] == "650"  ? true : false %> 650
                <%= radio_button_tag 'keywords_role['"#{index}"']' , '653', 
                @article.keywords_role[index] == "653"  ? true : false %> 653
                <%= radio_button_tag 'keywords_role['"#{index}"']' , '610', 
                @article.keywords_role[index] == "610"  ? true : false %> 610
                <%= radio_button_tag 'keywords_role['"#{index}"']' , '600', 
                @article.keywords_role[index] == "600"  ? true : false %> 600
                <%= radio_button_tag 'keywords_role['"#{index}"']' , '651', 
                @article.keywords_role[index] == "651"  ? true : false %> 651
              <a href="#" class="remove_field_keyword">Remove</a>
            </div>
            <% @count_keyword = @count_keyword + 1 %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <div class="field_keyword">
          <label for="words">Keywords :</label>
          <div>
            <a href="#" class="add_field_keyword">Add More Fields</a>
            <br>
            <input type="text" name="article[keywords][]" id="doc_words_" value=""  class="form-word">
            <label>Role :</label>
              <%= radio_button_tag 'keywords_role[0]' , '650' ,checked: true %> 650
              <%= radio_button_tag 'keywords_role[0]' , '653' %> 653
              <%= radio_button_tag 'keywords_role[0]' , '610' %> 610
              <%= radio_button_tag 'keywords_role[0]' , '600' %> 600
              <%= radio_button_tag 'keywords_role[0]' , '651' %> 651
          </div>
        </div>
      </div>
    <% end %>

<!-- //////////// Author ////////////// -->
    <% @count_author = 1 %>
    <% if @article.persisted? %>
      <label for="words">Author :</label>
      <a href="#" class="add_field_author">Add More Fields</a>
      <div class="form-group">
        <div class="author_field">
          <% @article.author_name.each_with_index do |author,index| %>
              <div class="form-group">
              <%= text_field_tag 'article[author_name][]' ,author , id: "author_#{@count_author}",class: "text-search-query form-word" %> 
              <% id_author = Author.find_by(author_name: author) %>
              <%= hidden_field_tag 'article[author_ids][]' ,id_author.id , id: "val_author_#{@count_author}", class: "val-search-query" %>
              <label>Role :</label>

              <% if @article.article_authors[index].nil? %>
                <%= radio_button_tag 'author_role['"#{@count_author}"']' , '100' ,
                checked: true %> 100
                <%= radio_button_tag 'author_role['"#{@count_author}"']' , '700'%> 700
              <% else %>
                <% if @article.article_authors[index].authortype == "100" %>
                  <%= radio_button_tag 'author_role['"#{@count_author}"']' , '100' ,
                  checked: true %> 100
                <% else %>
                  <%= radio_button_tag 'author_role['"#{@count_author}"']' , '100'%> 100
                <% end %> 

                <% if @article.article_authors[index].authortype == "700" %>
                  <%= radio_button_tag 'author_role['"#{@count_author}"']' , '700' ,
                  checked: true %> 700
                <% else %>
                  <%= radio_button_tag 'author_role['"#{@count_author}"']' , '700'%> 700
                <% end %> 
              <% end %> 

              <a href="#" class="remove_field_author">Remove Author</a>
              </div>
              <% @count_author = @count_author + 1 %>
          <% end %>
        </div>
      </div>
    <% else %>
      <label for="words">Author :</label>
      <a href="#" class="add_field_author">Add More Fields</a>
      <div class="form-group" >
        <div class="author_field">
          <div>
            <%= text_field_tag 'article[author_name][]' ,'', id: "author_#{@count_author}" , class: "text-search-query form-word" %> 
            <%= hidden_field_tag 'article[author_ids][]', '', id: "val_author_#{@count_author}" , class: "val-search-query" %>
              <label>Role :</label>
              <%= radio_button_tag 'author_role[1]' , '100' ,checked: true %> 100
              <%= radio_button_tag 'author_role[1]' , '700' %> 700
          </div>
        </div>
      </div>
    <% end %>

    <%= f.submit "Submit" ,class: "btn btn-primary"%>

    <% end %>
  </div>
</div>

<%= javascript_tag do %>
  window.count_author = <%= @count_author %>
  window.count_keyword = <%= @count_keyword %>
<% end %>