  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= @article.article_name %></h4>
      </div>
      <div class="modal-body">
            <p>Link : <a href="http://202.28.17.79/e-journal/<%= @article.pdf_path %>.pdf"> Dowload Pdf </a></p>

            <% if @article.author_name.length > 0 %>
              <p>ผู้แต่ง : 
              <% @article.author_name.each do |authorname| %>
               <span style="line-height:25px;">
                  <%= authorname.gsub("|a","") %>
                  <% if authorname !=  @article.author_name.last %>
                    <b>&nbsp,&nbsp </b>
                  <% end %>
                </span>
              <% end %>
              </p>
            <% end %>

            <% if @article.keywords.length > 0 %>
              <p>Keyword : 
              <% @article.keywords.each do |keyword| %>
               <span style="line-height:25px;">

                <% keyword[0] = keyword[0].gsub(/[xyz]/,'--') %>
                <% keyword[0] = keyword[0].gsub('a','') %>
                <%= keyword %>

                  <% if keyword !=  @article.keywords.last %>
                    <b> &nbsp,&nbsp </b>
                  <% end %>
                </span>
              <% end %>
              </p>
            <% end %>
            <hr>

            <p>ชื่อวารสาร : <%= @article.issue.year.journal.journal_name %></p>
            <p>ปี : <%= @article.issue.year.journal_year %></p>
            <% issue , vol = @article.issue.number.split("-") %>
            <% if !vol.nil? %>
              <p>ปีที่ : <%= issue.to_i %>  ฉบับที่ <%= vol.to_i %></p>
            <% else %>
              <p>ฉบับที่ <%= issue.to_i %></p>
            <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->