<%= render 'layouts/navbar' %>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to  'Journals' , journals_path %></li>
    <li><%= link_to  'Years' , journal_years_path %></li>
    <li><%= link_to  'Issues' , journal_year_issues_path %></li>
    <li class="active">Articles</li>
  </ol>
  <div class="row">
    <%= link_to '+ Add Article' , new_journal_year_issue_article_path , class: 'btn btn-primary pull-right' %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>No</th>
        <th>Name</th>
        <th>Tools</th>
      </thead>
      <tbody>
        <% @articles.each_with_index do |article,index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td class="col-md-8"><%=  article.article_name %></td>
          <td>
            <%= link_to 'Edit' ,edit_journal_year_issue_article_path(@journal.id,@year.id,@issue.id,article.id), class: "btn btn-warning" %>
            <%= link_to 'Delete', journal_year_issue_article_path(@journal.id,@year.id,@issue.id,article.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

 <!-- 086-374-7631 -->