<%= render 'layouts/navbar' %>

<div class="container">
  <ol class="breadcrumb">
    <li class="active">Author</li>
  </ol>
  <div class="row">
    <%= link_to '+ Add Author' , new_author_path , class: 'btn btn-primary pull-right' %>
  </div>

  <%= form_tag authors_path, method: :get do %>
    <div class="row" style="margin-bottom:18px;">
      <div class="col-md-9">
         <%= text_field_tag :q,params[:q] ,class: "form-control", placeholder: 'Search Author'%>
      </div>

      <div class="col-md-1">
        <%= button_tag 'Search ',:class => "btn btn-success", name: "btn-search" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>No.</th>
        <th>Name</th>
        <th>Tools</th>
      </thead>
      <tbody>
        <% number_page = params[:page].to_i %>
        <% number_page = 1 if number_page == 0 %>
        <% @authors.each_with_index do |author,index| %>
        <tr>
          <td><%= index + (100*(number_page-1)) +1 %></td>
          <td class="col-md-5"><%= author.author_name %></td>
          <td>
            <%= link_to 'Edit' ,edit_author_path(author.id), class: "btn btn-warning" %>
            <%= link_to 'Delete', author_path(author.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= will_paginate @authors, renderer: BootstrapPagination::Rails %>
  </div>
</div>