<%= render 'layouts/navbar' %>

<div class="container">
  <ol class="breadcrumb">
    <li class="active">Author</li>
  </ol>
  <div class="row">
    <%= link_to '+ Add Author' , new_author_path , class: 'btn btn-primary pull-right' %>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>No.</th>
        <th>Name</th>
        <th>Tools</th>
      </thead>
      <tbody>
        <% @authors.each_with_index do |author,index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td class="col-md-5"><%= link_to author.author_name, author_path(author.id) %></td>
          <td>
            <%= link_to 'Edit' ,edit_author_path(author.id), class: "btn btn-warning" %>
            <%= link_to 'Delete', author_path(author.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>