<%= render 'layouts/navbar' %>

<div class="container">
  <ol class="breadcrumb">
    <li><%= link_to  'Journals' , journals_path %></li>
     <li class="active">Save Journal</li>
  </ol>  
  <% if @journal.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
          <% @journal.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>           
    </div>  
  <% end %>


  <div class="row">
    <%= form_for @journal do |f| %>

    <div class="form-group">
      <label>Name Journal</label>
      <%= f.text_field :journal_name ,class: "form-control" %>
    </div>

    <%= f.submit "Submit" ,class: "btn btn-primary"%>

    <% end %>
  </div>
</div>