<div class="container">
<!--   <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
  </ol> -->
  <div class="row">
    <%= link_to '+ Add Journal' , new_journal_year_path , class: 'btn btn-primary pull-right' %>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>No.</th>
        <th>Year</th>
        <th>Tools</th>
      </thead>
      <tbody>
        <% @years.each_with_index do |year,index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td class="col-md-5"><%= link_to year.journal_year, journal_year_issues_path(@journal.id,year.id) %></td>
          <td>
            <%= link_to 'Edit' ,edit_journal_year_path(@journal.id,year.id), class: "btn btn-warning" %>
            <%= link_to 'Delete', journal_year_path(@journal.id,year.id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>